*{margin: 0; padding: 0;}

.content{
    width: 800px;
    margin: 40px auto;
}

#text{
    width: 200px;
    outline: none;
    vertical-align: middle;
    box-sizing: border-box;
    height: 30px;
}

#code{
    display: inline-block;
    width: 120px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    background-color: #aaa;
    color: white;
    letter-spacing: 10px;
    text-decoration:none;
    margin-left: 10px;
    padding-left: 10px;
}

#btn{
    width: 80px;
    margin-left: 10px;
    background: #499990;
    color: white;
    cursor: pointer;
    outline: none;
    border: #aaa;
    height: 30px;
    vertical-align: middle;
    border-radius: 5px;
}