*{padding: 0;margin: 0;box-sizing: border-box;}
ul{list-style-type: none;}
.cursor{cursor: pointer;}
body{max-width: 400px;margin: 0 auto;position: relative;}
.header{
    width: 100%;
}
#newYear,#newMonth,#newDay{
    width: 114px;
    outline: none;
}
.year-month{
    height: 200px;
    width: 400px;
    background-color: #1abc9c;
    margin-top: 50px;
    position: relative;
}
.year-month ul{
    width: 100%;
    vertical-align: middle;
    position: absolute;
    top: 20%;
    color: white;
}
.prev{
    position: absolute;
    left: 10px;
    top: 15%;
    font-size: 30px;

}
.next{
    position: absolute;
    right: 10px;
    top: 15%;
    font-size: 30px;
}
.prev,.next{
    cursor: pointer;
    width: auto;
    padding: 10px;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}
.prev:hover,.next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
table{
    width: 100%;
}
th,td {
    border-bottom-color:#000;
    width: 14.28%;
    position:relative;
    left:0;
    text-align:center;
    margin-bottom:1px;
    background-color:#B0E0E6;
    border:1px;
    height: 50px;
}
.lightgrey{
	color:#a8a8a8; /*浅灰色*/
}
.darkgrey{
	color:#565656; /*深灰色*/
}
.green{
	color:#6ac13c; /*绿色*/
}
.greenBox{
	border:1px solid #6ac13c;
	background:#e9f8df; /*浅绿色背景*/
}
#days{
    width: 100%;
    border: 1px green solid;
    opacity: 0.7;
}
#today{
    background-color: #B0E0E6;
    border: white;
   font-size: large;
   padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 5px;
    user-select: none;
    outline: none;  /*解决边框问题*/
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: bold;
}
#future{
    background-color: #B0E0E6;
    border: white;
   font-size: large;
   padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 5px;
    user-select: none;
    outline: none;  /*解决边框问题*/
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 30px;
    font-weight: bold;
}
button:hover,button:active{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
